/*using position property */

/* .main-div{
    background-color: antiquewhite;
    width: 500px;
    height: 500px;
    position: relative;
}

.inner-div{
    background-color: black;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
} */


/*using with flexbox */

/* .main-div{
    display: flex;
    background-color: antiquewhite;
    width: 500px;
    height: 500px;
    justify-content: center ;
    align-items: center;
}

.inner-div{
    background-color: black;
    width: 100px;
    height: 100px;

} */

/* using grid */

/* .main-div{
    display: grid;
    place-items: center;
    background-color: antiquewhite;
    width: 500px;
    height: 500px;
    
}

.inner-div{
    background-color: black;
    width: 100px;
    height: 100px; 
} */

/*using margin auto */

.main-div{
    display: flex;
    background-color: antiquewhite;
    width: 500px;
    height: 500px;
}
 
.inner-div{
    background-color: black;
    width: 100px;
    height: 100px;
    margin: auto; 
}