.main-div{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr)) 
}

.grid-item1{
   background-color: aquamarine;
   border: 2px solid red;
}
.grid-item2{
   background-color: aquamarine;
   border: 2px solid red;
}
.grid-item3{
   background-color: aquamarine;
   border: 2px solid red;
}
.grid-item4{
   background-color: aquamarine;
   border: 2px solid red;
}
.grid-item5{
   background-color: aquamarine;
   border: 2px solid red;
}
.grid-item6{
   background-color: aquamarine;
   border: 2px solid red;
}